/bin/
/P3/TransactionServerLocking/target/
/P3/TransactionServerLocking/nbproject/private/
/P3/TransactionServerLocking/build/
/P3/TransactionServer OCC/nbproject/private/
/P3/TransactionServer OCC/build/
/P4/DynamicCalculator/nbproject/private/
/P4/DynamicCalculator/build/
